.nav,
.navbar,
.navbar-menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-weight: 700;
}

.nav {
  justify-content: space-between;
}

.navbar-menu {
  margin: 1.125rem 2.563rem;
}

.navbar-menu > li > a {
  margin-left: 1em;
  color: #121212;
}

.div1 {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  border: 5px solid mediumslateblue;
  border-left: 5px solid mediumspringgreen;
  transform: rotate(40deg);
}
